@tailwind base;
@tailwind components;
@tailwind utilities;

h1 {
    @apply text-[76px] font-bebasNeue text-black tracking-[-0.04em] leading-[84px];
}

h2 {
    @apply text-[40px] font-bebasNeue text-black leading-[48px];
}

h3 {
    @apply text-[25px] font-bebasNeue tracking-[-0.03em] leading-[38px];
}

h4 {
    @apply font-robotoCondensed text-[22px] leading-[32px];
}

.button {
    @apply px-6 py-3 rounded-lg transition-colors duration-300 ease-in-out;
}

.button-text {
    @apply font-robotoFlex font-semibold text-[15px] tracking-[-0.02em] leading-[23px];
}

.button-background {
    @apply bg-blue-600 text-white hover:bg-blue-800;
}

.button-outline {
    @apply border border-blue-600 text-blue-600 bg-white hover:bg-gray-200 hover:text-blue-800;
}

.button-active {
    @apply text-blue-600 font-semibold underline;
}

.button-arrow {
    @apply transition-opacity duration-300 ease-in-out font-robotoCondensed text-sm inline-flex gap-2 items-center font-robotoCondensed text-sm inline-flex gap-2 items-center border-b-2 max-w-max hover:opacity-80;
}

.dot {
    @apply w-2 h-2 rounded-full bg-gray-200 transition-colors duration-300 ease-in-out;
}

.dot-active {
    @apply bg-blue-600;
}

.bg-blurred {
    @apply bg-[rgba(255,255,255,0.5)] backdrop-blur-md;
}

.expanded {
    @apply line-clamp-none max-h-96;
}

@layer utilities {
    .hide-scrollbar {
        scrollbar-width: none; /* Firefox */
        -ms-overflow-style: none; /* IE 10+ */
    }

    .hide-scrollbar::-webkit-scrollbar {
        display: none; /* Chrome, Safari, Opera */
    }
}
