@tailwind base;
@tailwind components;
@tailwind utilities;

h1 {
    @apply text-[76px] font-bebasNeue text-black tracking-[-0.04em] leading-[84px];
}

h2 {
    @apply text-[40px] font-bebasNeue text-black leading-[48px];
}

h3 {
    @apply text-[25px] font-bebasNeue tracking-[-0.03em] leading-[38px];
}

h4 {
    @apply font-robotoCondensed text-[22px] leading-[32px];
}

#hero,
#gallery {
    @apply h-screen md:h-fit;
}

.button {
    @apply px-4 py-3 lg:px-6 lg:py-3 rounded-lg transition-colors duration-300 ease-in-out;
}

.button-text {
    @apply font-robotoFlex font-semibold text-base lg:text-[15px] lg:tracking-[-0.02em] lg:leading-[23px];
}

.button-background {
    @apply bg-blue-600 text-white hover:bg-blue-800;
}

.button-outline {
    @apply border border-blue-600 text-blue-600 bg-white hover:bg-gray-200 hover:text-blue-800;
}

.button-active {
    @apply text-blue-600 font-semibold border-b border-blue-600;
}

.button-arrow {
    @apply transition-opacity duration-300 ease-in-out font-robotoCondensed text-sm inline-flex gap-2 items-center border-b-2 max-w-max hover:opacity-80;
}

.dot {
    @apply w-2 h-2 rounded-full bg-gray-200 transition-colors duration-300 ease-in-out;
}

.dot-active {
    @apply bg-blue-600;
}

.bg-blurred {
    @apply bg-[rgba(255,255,255,0.5)] backdrop-blur-md;
}

.expanded {
    @apply line-clamp-none max-h-96;
}

.offscreen-menu {
    @apply h-screen w-full max-w-[450px] fixed top-0 -right-[450px] flex flex-col justify-center items-center text-center font-robotoFlex font-semibold text-base transition-all duration-300 ease-in;
}

.offscreen-menu.active {
    @apply right-0;
}

.hamburger-menu {
    @apply h-[24px] w-[24px] relative sm:hidden;
}

.hamburger-menu div {
    @apply h-[2px] w-full bg-black rounded-3xl absolute top-1/2 transition-transform duration-300 ease-in-out;
}

.hamburger-menu div:nth-child(1) {
    @apply top-1/4;
}

.hamburger-menu div:nth-child(3) {
    @apply top-3/4;
}

.hamburger-menu.active div:nth-child(1) {
    @apply rotate-45 translate-y-[5px];
}

.hamburger-menu.active div:nth-child(2) {
    @apply transition-opacity opacity-0;
}

.hamburger-menu.active div:nth-child(3) {
    @apply -rotate-45 -translate-y-[7px];
}

@layer utilities {
    .hide-scrollbar {
        scrollbar-width: none;
        /* Firefox */
        -ms-overflow-style: none;
        /* IE 10+ */
    }

    .hide-scrollbar::-webkit-scrollbar {
        display: none;
        /* Chrome, Safari, Opera */
    }
}
